/** Parsons Custom CSS **/
figure.wp-block-image {
  margin-bottom: 0;
}
.fas.fa-bars {
  color: #000;
}
.post-8 {
  .entry-content {
    h2 {

    }
  }
}
.wp-block-genesis-blocks-gb-columns.mobile {
  .gb-layout-column-wrap.gb-block-layout-column-gap-2.gb-is-responsive-column {
    align-items: center !important;
  }
}
.gb-block-layout-column-inner {
  h3.mobile {
    padding-top: 1.618em;
  }
  ul.mobile {
    padding-bottom: 1.618em;
  }
}

@media (max-width: 768px) {
  .gb-block-layout-column-inner {
    h3.mobile {
      padding-left: 1.618em;
      padding-right: 1.618em;
    }
    ul.mobile {
      padding-left: 1.818em;
      padding-right: 1.618em;
      margin-left: 1em;
    }
  }

  .wp-block-button.has-custom-width.wp-block-button__width-25.is-style-outline {
    width: 100%;
  }
  #genesis-content {
    .wp-block-media-text.mobile {
      display: block !important;
    }
    .wp-block-genesis-blocks-gb-columns.mobile {

    }
      article.post-8 {
        .entry-content {
          h2.mobile {
            font-size: 5vh !important;
          }
          h3.mobile {
            font-size: 4vh !important;
          }
        }
      }
    }
  }
